.first-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1126px;
  margin: 0 auto;
}

.bit-img {
  width: 31.168px;
  height: 32px;
  flex-shrink: 0;
}

.text-img {
  width: 143.117px;
  height: 28.973px;
  flex-shrink: 0;
}

ul {
  display: flex;
  list-style: none;
  margin-left: auto;
}
.buttons {
  margin-left: 3rem;
  border: none;
}

.in {
  width: 102px;
  height: 46px;
  border: none;
  border-radius: 4px;
  color: #173a56;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.up {
  width: 110px;
  height: 46px;
  border: none;
  background: #ff9900;
  color: #fff;
  border-radius: 4px;
  margin-left: 10px;
}
a {
  margin-left: 2rem;
}

h1 {
  width: 518px;
  height: 108px;
  color: #2f281e;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
}

p {
  width: 458px;
  height: 95px;
  flex-shrink: 0;
  color: #544837;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.first-page {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.btn-firstpage {
  display: flex;
  align-items: center;
}

.started {
  width: 175px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f90;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.watch {
  color: #f90;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  width: 135px;
  height: 24px;
  background: none;
  border: none;
}

.icon-watch {
  width: 20px;
  height: 17px;
  margin-left: 15px;
  position: relative;
  top: 2px;
}
.watch-container {
  display: flex;
  align-items: center;
}

h2 {
  width: 539px;
  color: #2f281e;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  position: relative;
  left: 500px;
  top: 25px;
}

.text-info {
  max-width: 240px;
  max-height: 52px;
  color: #544837;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
}

h4 {
  max-width: 240px;
  max-height: 33px;
  color: #2f281e;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.box-info {
  position: relative;
  left: 150px;
}

.container-info {
  display: flex;
  justify-content: space-evenly;
  margin-right: 20px;
  max-width: 2211px;
  max-height: 543px;
  flex-shrink: 0;
  position: relative;
  right: 25px;
  padding-top: 30px;
  padding-right: 20px;
}

.signup-btn {
  width: 175px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f90;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  left: 50%;
  top: 20px;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: chartreuse;
}

.third-part-container {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 100px;
  left: 70px;
}

.img-man {
  width: 519.785px;
  height: 573.31px;
  flex-shrink: 0;
  position: relative;
  top: 20px;
}
.third-page-text {
  width: 486px;
  height: 531px;
  flex-shrink: 0;
}

h3 {
  margin-top: 0;
  color: #2f281e;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-paragrapher-3 {
  color: #544837;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.third-part-text {
  margin-bottom: 3px;
  max-height: 24px;
}

.fourth-part-container {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 250px;
}

.icon-text,
.icon-text2,
.icon-text3 {
  display: flex;
  color: #544837;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  position: relative;
  left: 27px;
}

.orange-icon {
  position: relative;
  top: 30px;
  right: 30px;
}
.img-man-working {
  max-width: 532.615px;
  max-height: 520.035px;
  flex-shrink: 0;
}
.text-container-fourth {
  max-width: 486px;
  max-height: 427px;
  flex-shrink: 0;
}

.last-part-container {
  position: relative;
  top: 380px;
  display: flex;
  justify-content: space-evenly;
}
